th {
  text-align: center;
  vertical-align: middle;
}
th.sortable {
  cursor: pointer;
}
th.sortable.sort-asc::after {
  content: " ↑";
}
th.sortable.sort-desc::after {
  content: " ↓";
}
.definition {
  cursor: pointer;
  text-decoration: underline;
}

.accordion-button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23e5e5e5'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>");
}
.accordion-button.collapsed::after {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23e5e5e5'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>");
}

.no-bullet {
  list-style-type: none;
}

.highlight {
  background-color: rgba(255, 255, 255, 0.1); /* Subtle light overlay */
  border-left: 4px solid var(--bs-link-color); /* Bootstrap primary color for accent */
  padding-left: 10px; /* Adjust padding to offset the border */
  transition: background-color 0.3s ease, border-left-color 0.3s ease; /* Smooth transition */
}

.nav-scroll-top {
  scroll-margin-top: 85px;
}

.dice-notation {
  font-size: 0.875rem; /* Adjust font size to match text */
  line-height: 1.15; /* Adjust line height to match text */
  padding: 0.15rem 0.25rem; /* Adjust padding to make the button shorter */
}

.navbar-brand {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: calc(100% - 80px); /* Adjust based on the width of the button */
}

.navbar-toggler {
  margin-left: auto;
}

#navbar-brand-subtitle {
  transition: opacity 0.3s ease;
}

.brand-text {
  font-size: clamp(
    1rem,
    2vw,
    2rem
  ); /* Adjust the min, preferred, and max font size */
  white-space: nowrap; /* Prevent text from wrapping */
  overflow: hidden; /* Hide overflow text */
  text-overflow: ellipsis; /* Add ellipsis for overflow text */
}
