th {
  cursor: pointer;
}
th.sort-asc::after {
  content: " ↑";
}
th.sort-desc::after {
  content: " ↓";
}
.definition {
  cursor: pointer; /* Indicate it's clickable */
  text-decoration: underline;
}