th {
  text-align: center;
  vertical-align: middle;
}

th.sortable {
  cursor: pointer;
}
th.sortable.sort-asc::after {
  content: " ↓";
}
th.sortable.sort-desc::after {
  content: " ↑";
}

.table td:first-child,
.table th:first-child {
  white-space: nowrap;
}

.definition {
  cursor: pointer;
  text-decoration: underline;
  text-decoration-style: dashed;
}

.nav-scroll-top {
  scroll-margin-top: 85px;
}
.text-align-center {
  text-align: center;
}

.dice-notation {
  font-size: 0.875rem;
  line-height: 1.15;
  padding: 0.15rem 0.25rem;
}

.no-interaction {
  pointer-events: none;
  cursor: default !important;
  user-select: none;
}

.highlight {
  background-color: rgba(255, 255, 255, 0.1);
  border-left: 4px solid var(--bs-link-color);
  padding-left: 10px;
  transition: background-color 0.3s ease, border-left-color 0.3s ease;
}

.navbar-brand {
  font-size: 1.25rem;
  font-weight: bold;
  line-height: 1.5;
  padding: 0.5rem 0;
}
.navbar-brand span {
  text-align: center;
  display: block;
}

.navbar-title {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  transition: color 0.3s ease-in-out;
}
.navbar-title:hover {
  color: var(--bs-primary);
}
.navbar-brand img:hover {
  transform: scale(1.1);
  transition: transform 0.2s ease-in-out;
}

.mission-current {
  background-color: rgba(40, 167, 69, 0.1);
  border-left: 4px solid #28a745;
}

.mission-upcoming {
  background-color: rgba(255, 193, 7, 0.1);
  border-left: 4px solid #ffc107;
}

.mission-completed {
  background-color: rgba(108, 117, 125, 0.1);
  border-left: 4px solid #6c757d;
}

.text-balance {
  max-width: 40ch;
  margin: auto;
  text-wrap: balance;
}

@keyframes textFlicker {
  0%,
  100% {
    content: "404";
    opacity: 1;
  }
  45% {
    content: "404";
    opacity: 1;
  }
  46% {
    content: "40K";
    opacity: 0.8;
  }
  47% {
    content: "404";
    opacity: 0.9;
  }
  48% {
    content: "40K";
    opacity: 1;
  }
  50% {
    content: "404";
    opacity: 0.8;
  }
  52% {
    content: "40K";
    opacity: 1;
  }
  54% {
    content: "404";
    opacity: 0.9;
  }
  56% {
    content: "40K";
    opacity: 1;
  }
  85% {
    content: "404";
    opacity: 1;
  }
}

.error-text::before {
  content: "404";
  animation: inherit;
}
.error-text {
  animation: textFlicker 4s infinite;
}

#404-icon {
  animation: float 6s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}

.blockquote-footer {
  color: var(--bs-body-emphasis);
}

/* -------------------------------------------- */
.glossary-term {
  border-left: 4px solid var(--bs-primary);
  padding-left: 0.75rem; /* Add padding to maintain alignment */
  margin-bottom: 1.5rem;
  transition: all 0.2s ease-in-out;
  scroll-margin-top: 85px;
}

.glossary-term:hover {
  border-left-width: 8px;
  padding-left: calc(
    0.75rem - 4px
  ); /* Adjust to counteract the border width increase */
  background-color: var(--bs-secondary-bg-subtle);
}

.term-header {
  font-weight: 600;
  color: var(--bs-body-emphasis);
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.term-definition {
  color: var(--bs-body-secondary);
  line-height: 1.6;
}

.xp-badge {
  display: inline-flex;
  align-items: center;
  background: linear-gradient(45deg, #ffd700, #ffa500);
  color: black;
  font-size: 0.8rem;
  padding: 0.2rem 0.5rem;
  border-radius: 1rem;
  white-space: nowrap;
  margin-left: 0.5rem;
}
.xp-badge i {
  margin-right: 5px;
}

.stat-container {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}
.stat-group {
  text-align: center;
  position: relative;
}
.stat-icon {
  width: 48px;
  height: 48px;
  margin-bottom: 0.25rem;
}

.stat-label {
  font-size: 0.75rem;
  color: var(--bs-body-secondary);
  margin: 0;
}

.card {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.card-body {
  flex: 1 1 auto;
}
.stat-value {
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--bs-light);
  margin: 0;
  position: absolute;
  bottom: 2.2rem;
  left: 50%;
  transform: translateX(-50%);
  padding: 0 0.3rem;
  border-radius: 3px;
}
.stat-value-high {
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--bs-light);
  margin: 0;
  position: absolute;
  bottom: 2.5rem;
  left: 50%;
  transform: translateX(-50%);
  padding: 0 0.3rem;
  border-radius: 3px;
}
dl.row dd,
dt {
  border-bottom: 1px solid var(--bs-body-color);
  padding-bottom: 0.5rem;
  margin-bottom: 0.5rem;
}

@media (max-width: 768px) {
  .stat-container {
    gap: 0.75rem;
  }
  .stat-icon {
    width: 32px;
    height: 32px;
  }
  .stat-value {
    bottom: 1.75rem;
  }
  .stat-value-high {
    bottom: 1.75rem;
  }
  .glossary-container {
    max-width: 800px;
    margin: 0 auto;
  }
}
@media (max-width: 567px) {
  dl.row dt {
    border-bottom: none;
  }
}
