th {
  text-align: center;
  vertical-align: middle;
}

th.sortable {
  cursor: pointer;
}
th.sortable.sort-asc::after {
  content: " ↓";
}
th.sortable.sort-desc::after {
  content: " ↑";
}

.definition {
  cursor: pointer;
  text-decoration: underline;
  text-decoration-style: dashed;
}

.nav-scroll-top {
  scroll-margin-top: 85px;
}
.text-align-center {
  text-align: center;
}

.dice-notation {
  font-size: 0.875rem;
  line-height: 1.15;
  padding: 0.15rem 0.25rem;
}

.no-interaction {
  pointer-events: none;
  cursor: default !important;
  user-select: none;
}

.highlight {
  background-color: rgba(255, 255, 255, 0.1);
  border-left: 4px solid var(--bs-link-color);
  padding-left: 10px;
  transition: background-color 0.3s ease, border-left-color 0.3s ease;
}

.navbar-brand {
  font-size: 1.25rem;
  font-weight: bold;
  line-height: 1.5;
  padding: 0.5rem 0;
}
.navbar-brand span {
  text-align: center;
  display: block;
}

.navbar-title {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  transition: color 0.3s ease-in-out;
}
.navbar-title:hover {
  color: var(--bs-primary);
}
.navbar-brand img:hover {
  transform: scale(1.1);
  transition: transform 0.2s ease-in-out;
}

.mission-current {
  background-color: rgba(40, 167, 69, 0.1);
  border-left: 4px solid #28a745;
}

.mission-upcoming {
  background-color: rgba(255, 193, 7, 0.1);
  border-left: 4px solid #ffc107;
}

.mission-completed {
  background-color: rgba(108, 117, 125, 0.1);
  border-left: 4px solid #6c757d;
}

.text-balance {
  max-width: 40ch;
  margin: auto;
  text-wrap: balance;
}

@keyframes textFlicker {
  0%,
  100% {
    content: "404";
    opacity: 1;
  }
  45% {
    content: "404";
    opacity: 1;
  }
  46% {
    content: "40K";
    opacity: 0.8;
  }
  47% {
    content: "404";
    opacity: 0.9;
  }
  48% {
    content: "40K";
    opacity: 1;
  }
  50% {
    content: "404";
    opacity: 0.8;
  }
  52% {
    content: "40K";
    opacity: 1;
  }
  54% {
    content: "404";
    opacity: 0.9;
  }
  56% {
    content: "40K";
    opacity: 1;
  }
  85% {
    content: "404";
    opacity: 1;
  }
}

.error-text::before {
  content: "404";
  animation: inherit;
}
.error-text {
  animation: textFlicker 4s infinite;
}

#404-icon {
  animation: float 6s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}

.blockquote-footer {
  color: var(--bs-body-emphasis);
}
