th {
  text-align: center;
  vertical-align: middle;
}

th.sortable {
  cursor: pointer;
}
th.sortable.sort-asc::after {
  content: " ↓";
}
th.sortable.sort-desc::after {
  content: " ↑";
}

.definition {
  cursor: pointer;
  text-decoration: underline;
}

.nav-scroll-top {
  scroll-margin-top: 85px;
}
.text-align-center {
  text-align: center;
}

.dice-notation {
  font-size: 0.875rem; /* Adjust font size to match text */
  line-height: 1.15; /* Adjust line height to match text */
  padding: 0.15rem 0.25rem; /* Adjust padding to make the button shorter */
}

.highlight {
  background-color: rgba(255, 255, 255, 0.1); /* Subtle light overlay */
  border-left: 4px solid var(--bs-link-color); /* Bootstrap primary color for accent */
  padding-left: 10px; /* Adjust padding to offset the border */
  transition: background-color 0.3s ease, border-left-color 0.3s ease; /* Smooth transition */
}

.navbar-brand {
  font-size: 1.25rem;
  font-weight: bold;
  line-height: 1.5;
  padding: 0.5rem 0;
}
.navbar-brand span {
  text-align: center;
  display: block;
}

.navbar-title {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  transition: color 0.3s ease-in-out;
}
.navbar-title:hover {
  color: var(--bs-primary); /* Adjust hover color */
}
.navbar-brand img:hover {
  transform: scale(1.1);
  transition: transform 0.2s ease-in-out;
}

.mission-current {
  background-color: rgba(40, 167, 69, 0.1);
  border-left: 4px solid #28a745;
}

.mission-upcoming {
  background-color: rgba(255, 193, 7, 0.1);
  border-left: 4px solid #ffc107;
}

.mission-completed {
  background-color: rgba(108, 117, 125, 0.1);
  border-left: 4px solid #6c757d;
}

.blockquote p {
  max-width: 40ch; /* Limits width for better readability */
  margin: auto; /* Centers the text */
  text-wrap: balance; /* Ensures better line breaks */
  hyphens: auto; /* Enables hyphenation */
}

.blockquote-footer {
  max-width: 40ch; /* Limits width for better readability */
  margin: auto; /* Centers the text */
  text-wrap: balance; /* Ensures better line breaks */
  hyphens: auto; /* Enables hyphenation */
}
